.nav-sliding{
    transform: translateX(-400px);
    transition: transform 0.7s ease-in-out;
}

.default-sliding{
    transform: translateX(0px);
    transition: transform 0.7s ease-in-out;
}

.btnDobbleColor{
    background-image: linear-gradient(to left top,rgb(255, 87, 34),yellow);
}


/* _________ SignUp animation _______________________ */


.animate-line1{
    width: 0;
    transition: animation 2s;
    animation: startLine1 4s forwards;
}
.animate-line2{
    width: 0;
    transition: animation 2s;
    animation: startLine2 4s forwards;
}


@keyframes startLine1 {
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}
@keyframes startLine2 {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
  
