.nav-sliding{
    transform: translateX(-400px);
    transition: transform 0.7s ease-in-out;
}

.default-sliding{
    transform: translateX(0px);
    transition: transform 0.7s ease-in-out;
}

.btnDobbleColor{
    background-image: linear-gradient(to left top,rgb(255, 87, 34),yellow);
}


  

  
